header {
  position: relative;
  z-index: 20;
}

#bara-meniu {
  background-color: var(--galben);
  height: var(--inaltime-meniu);
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
}

ul.meniu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.meniu li {
  color: var(--maro);
  cursor: pointer;
  background-color: var(--galben);
  box-sizing: border-box;
}
ul.meniu li a {
  display: block;
  height: 100%;
  width: 100%;
  font-weight: 900;
  color: var(--maro);
  transition: color 0.6s linear;
}
ul.meniu li div {
  font-weight: 900;
  color: var(--maro);
  transition: color 0.6s linear;
}
ul.meniu li div:hover {
  color: var(--portocaliu-inchis);
}
ul.meniu li a:hover {
  color: var(--portocaliu-inchis);
}
ul.meniu li:hover ul {
  animation-name: animatie_submeniu;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: center top;
  display: block;
}
ul.meniu > li {
  height: var(--inaltime-meniu);
  overflow: hidden;
  line-height: var(--inaltime-meniu);
  vertical-align: middle;
  width: var(--latime-buton);
  text-align: center;
}
ul.meniu > li:hover {
  overflow: visible;
}
ul.meniu ul {
  list-style-type: none;
  z-index: 10;
  position: relative;
  left: -1px;
  padding: 0;
  margin: 0;
  display: none;
}
ul.meniu ul li {
  height: var(--inaltime-meniu);
  width: var(--latime-buton);
  overflow: hidden;
  top: -1px;
  left: 0;
  position: relative;
}
ul.meniu a {
  text-decoration: none;
}

#acasa:hover span {
  color: var(--portocaliu-inchis);
}
#acasa:hover i {
  color: var(--portocaliu-inchis);
}
#acasa span {
  font-weight: 900;
  color: var(--galben);
  transition: color 0.6s linear;
}

#hamburger, #ch-menu {
  display: none;
}

@keyframes animatie_submeniu {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}