<div id="div-container">
    <p id="watermark">Crusoveanu Mihai</p>
</div>
<a href="#" title="Mergi sus" id="link-top"><div id="sageata">&#129081;</div></a>
<!-- task icon -->
<h2><i class="fa-solid fa-link"></i> Contact</h2>
<ul>
    <li><a href="tel:0722222222">Telefonul BestTea</a></li>
    <li><a href="mailto:besttea@gmail.com">Mail-ul BestTea</a></li>
    <li><a href="https://wa.me/0722222222">Whatsapp BestTea</a></li>
</ul>
<address>
      <!-- task icon -->
    <i class="fa-solid fa-location-dot fa-beat"></i> <a href="https://www.google.com/maps/dir//fmi/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x40b1ff472f47f047:0x493984726f0235f9?sa=X&ved=2ahUKEwiKt4DZrPD-AhUogP0HHT8DAq0Q9Rd6BAhMEAU">Strada Ceainariei 10, București, Sctor 1, Romania</a>
</address>
<small><time datetime="2023-05-12T21:01:00">&copy; BT2023</time></small>