<div id="banner">Acesta este un proiect scolar!</div>
<div id="bara-meniu">
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <nav>
        <ul class="meniu">
                <!-- task icon -->
            <li>
                <div id="acasa"><i class="fa-solid fa-house"></i> <span>Acasa</span></div>
                <ul>
                    <li><a href="/#welcome">Welcome</a></li>
                    <li><a href="/#promotii">Promotii</a></li>
                    <li><a href="/#anunturi">Anunturi</a></li>
                    <li><a href="/#produse">Oferta</a></li>
                    <li><a href="/#orar">Orar</a></li>
                    <li><a href="/#index-intrebari">Întrebări</a></li>
                </ul>
            </li>
            <li><a href="#">Inregistrare</a></li>
            <li><a href="/despre">Despre</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>
<h1>BestTea</h1>