#grid-galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1em;
  column-gap: 1em;
  counter-reset: nrimag 0;
}

#grid-galerie figcaption {
  text-align: center;
  counter-increment: nrimag 1;
}

#grid-galerie figure {
  width: min-content;
}

#grid-galerie figcaption::before {
  content: counter(nrimag, upper-alpha) "). ";
  font-weight: bold;
}

#grid-galerie figure img {
  transition: all 0.5s linear;
}

#grid-galerie figure img:hover {
  transform: rotate(360deg) scale(1.5);
  border-radius: 2rem;
}

@media screen and (max-width: 1200px) {
  #grid-galerie {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  #grid-galerie figure:nth-child(1) {
    grid-area: 1/1/3/3;
  }
  #grid-galerie figure:nth-child(2) {
    grid-area: 1/3/3/5;
  }
  #grid-galerie figure:nth-child(3) {
    grid-area: 3/2/5/4;
  }
  #grid-galerie figure:nth-child(4) {
    grid-area: 5/1/7/3;
  }
  #grid-galerie figure:nth-child(5) {
    grid-area: 5/3/7/5;
  }
  #grid-galerie figure:nth-child(6) {
    grid-area: 7/2/9/4;
  }
  #grid-galerie figure:nth-child(7) {
    grid-area: 9/1/11/3;
  }
}
@media screen and (max-width: 800px) {
  #grid-galerie {
    display: block;
  }
}